* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 15%;
}

//Nav Bar

.nav {
    overflow: hidden;
    background-color: #333;
}
  
.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

//Header

.slogan {
    display: flex;
    align-items: center;
}

.sloganLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sloganRight {
    display: flex;
    flex-direction: column;
    width: 50%;
}

//Counter

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbersContainer {
    display: flex;
    flex-direction: row;
}

.numberTxt {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 10px;
}

.divider {
    margin: 10px;
}




