$mainColor: rgb(48, 7, 114);
$accentColor: rgb(196, 189, 189);
$txtColor1: white;
$txtColor2: orangered;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.holdingImg {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 2vh 0;
    height: auto;

    img {
        width: 70%;
        overflow: hidden;
        align-self: center;
    }
}

h2 {
    font-weight: bold;
    font-size: 35px;
    margin: 3vh 0;
}

h3 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
}

h4 {
    font-size: 20px;
    margin: 1vh 0;
}

//Header

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

header {
    background-color: $mainColor;
    display: flex; 
    align-items: center;
    flex-direction: column;
}

//Nav Bar

nav {
    width: 80%;
}

.nav {
    overflow: hidden;

    i {
        padding: 14px 30vw 14px 16px;
        color: $txtColor2;
    }
}

.logo {
    display: inline-block;
}

.nav a {
    display: inline-block;
    color: $txtColor1;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    border-bottom:  2px solid $mainColor;
}

.nav a:hover{
    border-bottom: 2px solid $txtColor2;
  }

.nav .icon {
    display: none;
    border-bottom: none;
}

@media screen and (max-width: 600px) {
    .nav a {display: none;}
    .nav a.icon {
        float: right;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav a.icon:hover {
        border-bottom: none;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
        float: right;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .nav.responsive a {
        display: block;
        border-bottom: none;
    }

    .nav.responsive a:hover {
        border-bottom: none;
    }
}
  
//Nav End

.slogan {
    display: flex;
    align-items: center;
}

.sloganLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
    color: white; 

    h1 {
        font-size: 50px;
    }
}

.sloganTxt {
    margin: 20px 0 10px 0;
}

.sloganRight {
    display: flex;
    width: 50%;
    justify-content: center;

    img {
        width: 70%;
    }
}

//Counter

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 10px rgb(86, 17, 197);
    border-radius: 12px;
    margin: 3vh 0;

    p {
        font-size: 20px;
        margin: 0.2vw;
    }
}

.numbersContainer {
    display: flex;
    flex-direction: row;
}

.number {
    color: $txtColor2;
}

.divider {
    color: $txtColor2;
    font-size: 20px;
}

.numberTxt {
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    p {
        font-size: 20px;
    }
}

.divider {
    margin: 0.2vw;
}

//Counter End

//Buttons

.buttons {
    margin-bottom: 10vh;

    .readMoreBtn {
        margin-right: 10px;
    }

    .preSale {
        margin-left: 10px;
    }
}

button {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: $mainColor;
    color: $txtColor1;
}

.readMoreBtn {
    border: none;
    background-color: $txtColor2;
    margin: 2vh 0;
}

//Buttons End

//Header End

//Features

.features {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $accentColor;

    h2 {
        margin: 5vh 0 0 0;  
    }
}

.featuresTag {
    text-align: center;
    width: 45%;
    margin: 3vh 0 0 0;
}

.boxes {
    display: flex;
    justify-content: center;
    margin: 8vh 0;
    
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: black solid 1px;
        border-radius: 12px;
        text-align: center;
        width: 20%;
        height: auto;
        padding: 25px;
        background-color: white;
    }
}

hr {
    width: 40%;
    border: 0;
    height: 3px;
    background-color:rgb(86, 17, 197);
    margin-top: 10px;
}

.fa-adjust {
    margin-bottom: 25px;
    color: $mainColor;

}

.box:hover {
    background-color: $mainColor;
    color: $txtColor1;

    .fa-adjust {
        color: $txtColor1;
    }
}

#box2 {
    margin: 0 3vw;
}

//Features End

//About

.about {
    display: flex;
    justify-content: center;
}

.aboutInner {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.aboutTxt {
    flex: 50%;
}

.aboutTxtInner {
    margin: 0 0 3vh 0;
}

.infoCounter {
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.infoNumberTxt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .number {
        color: red;
        font-size: 25px;
    }
}

.verticalDivider {
    transform: rotate(90deg);
    width: 10%;
    background-color: $accentColor;
    margin-top: 0;
}

.txt {
    font-weight: bold;
}

.checkTxt {
    margin: 40px 0;
}

.check {
    display: flex;
}

.fa-check {
    margin: 0 5px 0 0;
    color: $mainColor;
}

//About End

//Info With Chart

.infoWithChart {
    display: flex;
    justify-content: center;
    background-color: $mainColor;
}

.infoInner {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.infoTxt {
    color: white;
    flex: 50%;
}

.progress {
    margin: 3vh 0;
    display: flex;
    flex-direction: column;
}

.progressContainer {
    display: flex;
    flex-direction: row;
    margin: 1vh 0;
    align-items: center;

    div {
        flex-grow: 1;
        width: 3%;
    }
}

meter {
    width: 60%;
}

.meterValue {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 3%;
}

//Info With Cart End

//Call To Action

.callToAction {
    display: flex;
    justify-content: center;
    text-align: center;

    .container {
        width: 50%;

        .holdingImg {
            width: 100%;
        }
    }
}

.timeline {
    display: flex;
    width: 100%;
    margin: 3vh 0 0 0;
}

.icon {
    display: flex;
    flex-direction: column;
    width: 20%;

    p {
        width: 100%;
    }
}

#icon1 {
    i {
        color: $txtColor2;
    }
}

#icon2 {
    i {
        color: red;
    }
}

#icon3 {
    i {
        color: green;
    }
}

.hrTimeline {
    margin-top: 2vh;
    width: 120%;
    background-color: $accentColor;
}

.hr {
    width: 50%;
    overflow: visible;
    transform: translateX(-10%);
}

#freeTrial {
    margin-bottom: 50px;
}


//Call To Action End

//FAQ

.faq {
    background-color: $accentColor;
}

//Counter Box

.counterBox {
    
    display: flex;
    justify-content: center;
    text-align: center;
    
    .infoCounter {
        background-color: $mainColor;
        color: $txtColor1;
        border-radius: 12px;
        transform: translateY(-50%);
        top: 0;

        .number {
            color: $txtColor1;
        }
    }
}


//Counter Box End

//FAQ Txt

.faqTxt {
    display: flex;
    justify-content: center;

    .container {
        width: 50%;
        text-align: center;

        h2 {
            margin-top: 5vh;
        }
    }
}

.faqTabs {
    display: flex;
    flex-direction: row;
    margin: 3vw 0;

    p {
        margin: 0 3vw;
        font-weight: bold;
    }
}

.faqTabs {

    p:hover {
        color: $mainColor;
        text-decoration: underline;
    }
}

.colums {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 50%;

    p {
        margin: 3vh 2vw;
    }
}

.header {
    font-weight: bold;
}

//Faq End

//Answers

.answers {
    display: flex;
    justify-content: center;
    background-color: $accentColor;
}

.answersContainer {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
}

.answersTxt {
    width: 50%;

    h2 {
        color: blue;
    }
}

//Answers End

// Email Sign Up

.emailSignUp {
    display: flex;
    justify-content: center;

    h4 {
        color: blue;
        margin: 2vh 0;
    }
}

div {

    form {
        border: 1px solid black;
        border-radius: 20px;
        overflow: hidden;

        input {
            border: none;
            padding: 10px 20px;
        }
    }
}

input:focus {
    outline:none;
}

#subscribe {
    color: $txtColor1;
    background-color: $txtColor2;
}

.email {
    margin: 3vh 0;
}

//Email Sign Up End

//Footer

footer {
    display: flex;
    justify-content: center;
    background-color: $mainColor;

    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .column {
            width: 25%;
            color: $txtColor1;
        
            p {
                margin: 1vh 0;
            }
        }
    }
}

.column {
    i {
        color: $txtColor2;
    }
}

.contactInfo {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    i {
        margin: 0 2vw 0 0;
        color: $txtColor2;
    }
}

.columnRow {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    i {
        margin: 0 1vw 0 0;
    }

    span {
        border: 1px solid black;
        border-radius: 20px;
        background-color: orange;
        margin-left: 10px;
        padding: 5px 10px;
    }
}

.newsPost {
    hr {
        background-color: $accentColor;
        width: 100%;
    }
}

//Footer End

@media screen and (max-width: 800px) {
    header {
        width: 100%;
    }

    .container {
        width: 95%;
    }

    .slogan {
        flex-direction: column;
    }

    .sloganLeft {
        width: 100%;
    }

    .holdingImg {
        width: 100%;
    }

    .buttons {
        margin-bottom: 0;
    }

    .featuresTag {
        width: 100%;
    }
    .boxes {
        flex-direction: column;
        align-items: center;

        .box {
            width: 80%;
            margin: 20px 10px;
        }
    }

    .aboutInner {
        flex-direction: column;
        margin: 2vh 0;
    }

    .infoInner {
        flex-direction: column;
    }

    .callToAction {
        flex-direction: column;
        align-items: center;
        
        .container {
            width: 95%;
        }
    }

    meter {
        width: 30%;
    }

    .infoNumberTxt {
        font-size: 8px;

        .number {
            font-size: 8px;
        }
    }

    .faqTxt {
        .container {
            width: 100%;
        }
    }

    .colums {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    .answersContainer {
        flex-direction: column;
        width: 95%;
    }

    .answersTxt {
        width: 100%;

        h2 {
            text-align: center;
        }
    }

    footer {
        .container {
            flex-direction: column;

            .column {
                width: 100%;
                margin: 3vh 0;
            }
        }
    }
}