* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.holdingImg {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2vh 0;
  height: auto;
}

.holdingImg img {
  width: 70%;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  margin: 3vh 0;
}

h3 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
}

h4 {
  font-size: 20px;
  margin: 1vh 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

header {
  background-color: #300772;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  width: 80%;
}

.nav {
  overflow: hidden;
}

.nav i {
  padding: 14px 30vw 14px 16px;
  color: orangered;
}

.logo {
  display: inline-block;
}

.nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
  border-bottom: 2px solid #300772;
}

.nav a:hover {
  border-bottom: 2px solid orangered;
}

.nav .icon {
  display: none;
  border-bottom: none;
}

@media screen and (max-width: 600px) {
  .nav a {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav a.icon:hover {
    border-bottom: none;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive .icon {
    float: right;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    display: block;
    border-bottom: none;
  }
  .nav.responsive a:hover {
    border-bottom: none;
  }
}

.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sloganLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-top: 50px;
  color: white;
}

.sloganLeft h1 {
  font-size: 50px;
}

.sloganTxt {
  margin: 20px 0 10px 0;
}

.sloganRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sloganRight img {
  width: 70%;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 10px #5611c5;
  border-radius: 12px;
  margin: 3vh 0;
}

.counter p {
  font-size: 20px;
  margin: 0.2vw;
}

.numbersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.number {
  color: orangered;
}

.divider {
  color: orangered;
  font-size: 20px;
}

.numberTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numberTxt p {
  font-size: 20px;
}

.divider {
  margin: 0.2vw;
}

.buttons {
  margin-bottom: 10vh;
}

.buttons .readMoreBtn {
  margin-right: 10px;
}

.buttons .preSale {
  margin-left: 10px;
}

button {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #300772;
  color: white;
}

.readMoreBtn {
  border: none;
  background-color: orangered;
  margin: 2vh 0;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #c4bdbd;
}

.features h2 {
  margin: 5vh 0 0 0;
}

.featuresTag {
  text-align: center;
  width: 45%;
  margin: 3vh 0 0 0;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8vh 0;
}

.boxes .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: black solid 1px;
  border-radius: 12px;
  text-align: center;
  width: 20%;
  height: auto;
  padding: 25px;
  background-color: white;
}

hr {
  width: 40%;
  border: 0;
  height: 3px;
  background-color: #5611c5;
  margin-top: 10px;
}

.fa-adjust {
  margin-bottom: 25px;
  color: #300772;
}

.box:hover {
  background-color: #300772;
  color: white;
}

.box:hover .fa-adjust {
  color: white;
}

#box2 {
  margin: 0 3vw;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.aboutTxt {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.aboutTxtInner {
  margin: 0 0 3vh 0;
}

.infoCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infoNumberTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.infoNumberTxt .number {
  color: red;
  font-size: 25px;
}

.verticalDivider {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 10%;
  background-color: #c4bdbd;
  margin-top: 0;
}

.txt {
  font-weight: bold;
}

.checkTxt {
  margin: 40px 0;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-check {
  margin: 0 5px 0 0;
  color: #300772;
}

.infoWithChart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #300772;
}

.infoInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.infoTxt {
  color: white;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.progress {
  margin: 3vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.progressContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1vh 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progressContainer div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 3%;
}

meter {
  width: 60%;
}

.meterValue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 3%;
}

.callToAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.callToAction .container {
  width: 50%;
}

.callToAction .container .holdingImg {
  width: 100%;
}

.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 3vh 0 0 0;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
}

.icon p {
  width: 100%;
}

#icon1 i {
  color: orangered;
}

#icon2 i {
  color: red;
}

#icon3 i {
  color: green;
}

.hrTimeline {
  margin-top: 2vh;
  width: 120%;
  background-color: #c4bdbd;
}

.hr {
  width: 50%;
  overflow: visible;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

#freeTrial {
  margin-bottom: 50px;
}

.faq {
  background-color: #c4bdbd;
}

.counterBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.counterBox .infoCounter {
  background-color: #300772;
  color: white;
  border-radius: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 0;
}

.counterBox .infoCounter .number {
  color: white;
}

.faqTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faqTxt .container {
  width: 50%;
  text-align: center;
}

.faqTxt .container h2 {
  margin-top: 5vh;
}

.faqTabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3vw 0;
}

.faqTabs p {
  margin: 0 3vw;
  font-weight: bold;
}

.faqTabs p:hover {
  color: #300772;
  text-decoration: underline;
}

.colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  width: 50%;
}

.column p {
  margin: 3vh 2vw;
}

.header {
  font-weight: bold;
}

.answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c4bdbd;
}

.answersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answersTxt {
  width: 50%;
}

.answersTxt h2 {
  color: blue;
}

.emailSignUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.emailSignUp h4 {
  color: blue;
  margin: 2vh 0;
}

div form {
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
}

div form input {
  border: none;
  padding: 10px 20px;
}

input:focus {
  outline: none;
}

#subscribe {
  color: white;
  background-color: orangered;
}

.email {
  margin: 3vh 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #300772;
}

footer .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .container .column {
  width: 25%;
  color: white;
}

footer .container .column p {
  margin: 1vh 0;
}

.column i {
  color: orangered;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contactInfo i {
  margin: 0 2vw 0 0;
  color: orangered;
}

.columnRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.columnRow i {
  margin: 0 1vw 0 0;
}

.columnRow span {
  border: 1px solid black;
  border-radius: 20px;
  background-color: orange;
  margin-left: 10px;
  padding: 5px 10px;
}

.newsPost hr {
  background-color: #c4bdbd;
  width: 100%;
}

@media screen and (max-width: 800px) {
  header {
    width: 100%;
  }
  .container {
    width: 95%;
  }
  .slogan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sloganLeft {
    width: 100%;
  }
  .holdingImg {
    width: 100%;
  }
  .buttons {
    margin-bottom: 0;
  }
  .featuresTag {
    width: 100%;
  }
  .boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .boxes .box {
    width: 80%;
    margin: 20px 10px;
  }
  .aboutInner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2vh 0;
  }
  .infoInner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .callToAction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .callToAction .container {
    width: 95%;
  }
  meter {
    width: 30%;
  }
  .infoNumberTxt {
    font-size: 8px;
  }
  .infoNumberTxt .number {
    font-size: 8px;
  }
  .faqTxt .container {
    width: 100%;
  }
  .colums {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column {
    width: 100%;
  }
  .answersContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
  .answersTxt {
    width: 100%;
  }
  .answersTxt h2 {
    text-align: center;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .column {
    width: 100%;
    margin: 3vh 0;
  }
}
/*# sourceMappingURL=style.css.map */