$mainColor: rgb(48, 7, 114);
$txtColor1: white;
$txtColor2: orangered;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.holdingImg {
    width: 50%;
    display: flex;
    justify-content: center;

    img {
        width: 70%;
    }
}

h2 {
    font-weight: bold;
    font-size: 30px;
    margin: 3vh 0;
}

//Header

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

header {
    background-color: $mainColor;
    display: flex; 
    justify-content: center;
}

//Nav Bar

.nav {
    overflow: hidden;
}
  
.nav a {
    float: left;
    display: block;
    color: $txtColor1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

//Nav End

.slogan {
    display: flex;
    align-items: center;
}

.sloganLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
    color: white; 

    h1 {
        font-size: 50px;
    }
}

.sloganTxt {
    margin: 20px 0 10px 0;
}

.sloganRight {
    display: flex;
    width: 50%;
    justify-content: center;

    img {
        width: 70%;
    }
}

//Counter

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 10px rgb(86, 17, 197);
    border-radius: 12px;
    margin: 3vh 0;

    p {
        font-size: 20px;
        margin: 10px;
    }
}

.numbersContainer {
    display: flex;
    flex-direction: row;
}

.number {
    color: $txtColor2;
}

.divider {
    color: $txtColor2;
    font-size: 30px;
}

.numberTxt {
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    p {
        font-size: 30px;
    }
}

.divider {
    margin: 10px;
}

//Counter End

//Buttons

.buttons {
    margin-bottom: 10vh;
}

button {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: $mainColor;
    color: $txtColor1;
}

.readMoreBtn {
    border: none;
    background-color: $txtColor2;
}

//Buttons End

//Header End

//Features

.features {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(196, 189, 189);

    h2 {
        margin: 5vh 0 0 0;  
    }
}

.featuresTag {
    text-align: center;
    width: 45%;
    margin: 3vh 0 0 0;
}

.boxes {
    display: flex;
    justify-content: center;
    margin: 8vh 0;
    
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: black solid 1px;
        border-radius: 12px;
        text-align: center;
        width: 20%;
        height: auto;
        padding: 25px;
        background-color: white;

        h3 {
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 25px;
        }
    }
}

hr {
    width: 40%;
    border: 0;
    height: 3px;
    margin-top: 3vh;
    background-color:rgb(86, 17, 197);
}

.fa-adjust {
    margin-bottom: 25px;
    color: $mainColor;

}

.box:hover {
    background-color: $mainColor;
    color: $txtColor1;

    .fa-adjust {
        color: $txtColor1;
    }
}

#box2 {
    margin: 0 3vw;
}

//Features End

//About

.about {
    display: flex;
    justify-content: center;
}

.aboutInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.aboutTxt {
    flex: 50%;
}

.aboutTxtInner {
    margin: 0 0 3vh 0;
}

.infoCounter {
    display: flex; 
    flex-direction: row;
}

.infoNumberTxt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .number {
        color: red;
        font-size: 25px;
    }
}

.verticalDivider {
    transform: rotate(90deg);
    width: 10%;
    background-color: rgb(102, 101, 101);
}

.txt {
    font-weight: bold;
}

.checkTxt {
    margin: 40px 0;
}

.check {
    display: flex;
}

.fa-check {
    margin: 0 5px 0 0;
    color: $mainColor;
}

//About End

//Info With Chart

.infoWithChart {
    display: flex;
    justify-content: center;
    background-color: $mainColor;
    padding-top: 10vh;
}

.infoInner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.infoTxt {
    color: white;
    flex: 50%;
}

.progress {
    margin: 3vh 0;
    display: flex;
    flex-direction: column;
}

.progressContainer {
    display: flex;
    flex-direction: row;

    div {
        flex-grow: 1;
        width: 3%;
    }
}

meter {
    flex-grow: 3;
}

.meterValue {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 3%;
}

//Info With Cart End

//Call To Action

.callToAction {
    display: flex;
    justify-content: center;
    text-align: center;

    .container {
        width: 50%;
    }
}

.timeline {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon {
    display: flex;
    flex-direction: column;
    width: 20%;

    p {
        width: 100%;
    }
}

.hr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}